accelerate==0.34.0
datasets==2.20.0
faiss-cpu==1.8.0.post1
img2pdf==0.5.1
langdetect==1.0.9
Markdown==3.6
matplotlib==3.9.2
matplotlib-inline==0.1.7
networkx==3.2.1
nltk==3.9.1
numpy==1.26.3
opencv-python==4.10.0.84
pandas==2.2.2
pdf2image==1.17.0
pillow==10.2.0
PyPDF2==3.0.1
pytesseract==0.3.13
python-doctr==0.9.0
PyYAML==6.0.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
sentence-transformers==3.0.1
sentencepiece==0.2.0
spacy==3.7.6
streamlit==1.38.0
streamlit_pdf_reader==0.0.5
toml==0.10.2
torch==2.5.0.dev20240807+cu124
torchaudio==2.4.0.dev20240808+cu124
torchvision==0.20.0.dev20240807+cu124
transformers==4.44.2